.playerTabContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  height: min-content;
}

.playerNameContainer {
  flex: 2;
  display: flex;
  flex-direction: row;
  font-size: 0.7vw;
  color: var(--text);
}

.playerNameContainer :nth-child(1) {
  margin-right: 10px;
}

.hearts {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: flex-end;
}

.hearts img {
  width: 100%;
}
