/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --text: #08120c;
  --background: #edf7f2;
  --primary: #6d9cc0;
  --secondary: #c0d3e3;
  --accent: #417093;
  --margin-size: 10px;
  --bento-border-radius: 15px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #edf7f1;
    --background: #151823;
    --primary: #35657a;
    --secondary: #1c303f;
    --accent: #6b99bd;
  }
} */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bentoContainer > *,
.bentoContainerPlayer > * {
  width: calc(100% - 40px - var(--margin-size) - var(--margin-size));
  height: calc(100% - 10px - var(--margin-size) - var(--margin-size));
  margin: var(--margin-size);
  border-radius: var(--bento-border-radius);
}

.bento {
  display: flex;
  padding: 5px 20px;
  flex-direction: column;
  align-items: center;

  min-width: 0;
  min-height: 0;
}

.title {
  font-weight: 700;
  color: var(--text);
  height: auto;
  font-size: 1.8vw;
  margin-top: 15px;
}
