.bentoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 15px;

  /* grid config */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 4fr 1.5fr 1.5fr 3fr;
}

.bentoContainer > * {
  width: calc(100% - 75px);
  height: calc(100% - 45px);
  margin: 15px;
  border-radius: 30px;
}

.bento:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;

  background-color: var(--accent);
}

.bento:nth-child(2) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;

  background-color: var(--primary);
}

.bento:nth-child(3) {
  grid-row-start: 4;
  grid-column-start: 1;

  background-color: var(--secondary);
}

.bento:nth-child(4) {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 4;

  background-color: var(--secondary);
}

.bento:nth-child(5) {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;

  background-color: var(--accent);
}

.bento:nth-child(6) {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 3;

  background-color: var(--accent);
}
.bento:nth-child(1) .title,
.bento:nth-child(5) .title,
.bento:nth-child(6) .title {
  color: var(--background);
}

.bento {
  display: flex;
  padding: 5px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  color: var(--text);
  height: auto;
}

.chartContainer {
  display: flex;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
