/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --text: #08120c;
  --background: #edf7f2;
  --primary: #a4d6d3;
  --secondary: #c0d3e3;
  --accent: #427194;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #edf7f1;
    --background: #08120d;
    --primary: #295b58;
    --secondary: #1c303f;
    --accent: #6b99bd;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
