.bentoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--margin-size) - var(--margin-size));
  height: calc(100% - var(--margin-size) - var(--margin-size));
  margin: var(--margin-size);

  /* grid config */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 4fr 1.5fr 1.5fr 3fr;
}

.bento:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;

  background-color: var(--accent);
}

.bento:nth-child(2) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;

  background-color: var(--primary);
}

.bento:nth-child(3) {
  grid-row-start: 4;
  grid-column-start: 1;

  background-color: var(--secondary);
}

.bento:nth-child(4) {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 4;

  background-color: var(--secondary);
}

.bento:nth-child(5) {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;

  background-color: var(--accent);
}

.bento:nth-child(6) {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 3;

  background-color: var(--accent);
}

.bento:nth-child(1) .title,
.bento:nth-child(5) .title,
.bento:nth-child(6) .title {
  color: var(--background);
}

.chartContainer {
  display: flex;
  height: 80%;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.connectedPlayersContainer {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  margin-top: 20px;
}
